<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>

    <P> Hello <%= current_user.email %> </p>
    <P> Hello <%= current_user.username %> </p>

    <p>
        You are login and authenticated <br/>
        You are <%= current_user.admin? ? "an" : "not" %> admin
        <p>
            <%= link_to "Sign-out", destroy_user_session_path, 'data-turbo-method': :delete %>
        </p>
    </p>


<% else %>
    <p>
        You are not login or authenticated
        <p>
            <%= link_to "Sign-up", new_user_registration_path %>
            <br/>
            <%= link_to "Login", new_user_session_path %>
        </p>
    </p>
<% end %>
